#top-header{
  background:#142b43;overflow:hidden;padding:5px 1rem;z-index:10;box-shadow:0 1px 1px rgba(0,0,0,.1);
  background: #C70C19;
  border-bottom:1px solid #e80f0f;
  font-size:12px;
  padding-right:20px;
  font-weight: bold;
  }

  .section-copyright{
  background:#142b43;overflow:hidden;padding:5px 1rem;z-index:10;box-shadow:0 1px 1px rgba(0,0,0,.1);
  background: #C70C19;
  border-bottom:1px solid #e80f0f;
  color: white;
  font-size:12px;
  padding-right:20px;
  font-weight: bold;
  text-align: center;
  padding-top:10px;
  }

  

  .SignIn-class{
      color: white;
  }
  body{
      background-color: #ECF0F5;
      width:100%;
      overflow-x: hidden;
      font-family: 'Open Sans', arial;
  }

.sliderImage{
    min-height: 300px;
    max-height: 300px;
    min-width: 100%;
}

.main-search{
    margin-bottom: 10px;
}
.search-bellow-hr{
    background-color: #1b5693;
    border-color: #1b5693;
    height: 1px;
}

.sidemenu-break-line{
    background-color: #1b5693;
    border-color: #1b5693;
    height: 2px;
}

.main-hr{
    background-color: #1b5693;
    border-color: #1b5693;
    height: 2px;
    margin-left: 0.5rem;
    margin-right:0.5rem;
    margin-bottom: 0.3rem;
    margin-top: 0.4rem;
}

.panel{
    margin-bottom: 5px;
}


.list-group{
    margin-bottom: 5px;
}

.carousel-caption{
    /*background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));*/
}
.row .cms-row{
    margin: 0;
    padding:0;
}

thead{
    background: #12BFF3;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #002C58;
    border-color: #dddddd;
    font-size: 13px;
    font-weight: bold;
}
/*
.nav.nav-tabs{
    border-radius: 5px;
    border-style: solid;
    border-top-width: 5px;
    border-left-width:5px;
    border-right-width:5px;
    border-bottom:0px;
    background-color: #002C58;
    border-color: #1b416a
    color: white;
}*/

.tab-container
{
     border-radius: 5px;
   border-style: solid;
    border-top-width: 7px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    background-color: white;
    margin-bottom: 0px;
    margin-top:5px;
    overflow: hidden;
    border-color:#E3E7EC;
    border-top:7px solid #12BFF3;
  
    
}

.nav.nav-tabs
{
    background:#F6F9FD;
}

.nav.nav-tabs>li
{
    padding:0px;
    height:43px;
    
}
.nav.nav-tabs>li a
{
    margin:0px;
    font-family:'Open Sans';
    font-weight: 300;
    font-size:16px;
    border-radius:0px;
    border-right:1px solid #E3E7EC !important;
}

.nav.nav-tabs> li
{
    border:0px !important;
    border-radius:0px; 
    
    
}
.nav.nav-tabs> li>a:hover
{
    border-radius:0px;
}


.nav.nav-tabs>li>a{
    color: #7B7C7E;
    border:0px;
}

.nav.nav-tabs>li.active>a{
    
    color:#12BFF3;
    border-radius:0px;   
    border-left:0px; 
}

/*
.nav.nav-tabs>li>a:hover{
        color: darkblue;
}*/



.tab-content{
    margin:5px 15px;
    margin-top: 0px;
}



/*multiple column menu css*/

 
.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}


.site-footer{
    margin: 0px;
    margin-top:20px;
    border-top-width: 5px;
}

.footer-container{
    
    border-color:#002C58;
    background-color: #002C58 !important;

}
.site-footer ul{
    text-align: left;
    list-style: none;
    color: white;
}

.site-footer ul>li{
    padding: 5px;
}

.site-footer ul>li i{
    padding-left: 2px;
    padding-right: 10px;
}

.site-footer ul>li a{
    color: white;
}


.nepali-english-span{
    color:white;
}

.nepali-english-span:hover{
    color: white;
}

.SignIn-class:hover{
    color: white;
}


.outer-div-big{
    border-radius: 5px;
   border-style: solid;
    border-top-width: 7px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    background-color: white;
    margin-bottom: 0px;
    margin-top:5px;
    overflow: hidden;
    border-color:#E3E7EC;

}
.outer-div-big h3
{
    font-weight: 300;
}

.outer-blue-top{
        border-top:7px solid #00B4C0; /*00B4C0*/
}
.outer-blue-color{
        color: #00B4C0;
}
.blue-back{
        background: #00B4C0;
}

.outer-red-top{
        border-top:7px solid #E6543D; /*E6543D*/
}
.outer-red-color{
        color: #E6543D;
}

.red-back{
        background: #E6543D;
}
.outer-yellow-top{
        border-top:7px solid #B48518; /*B48518*/
}
.outer-yellow-color{
        color: #B48518;
}
.yellow-back{
        background: #B48518;
}
.outer-green-top{
        border-top:7px solid #1ec75a; /*1ec75a*/
}
.outer-green-color{
        color: #1ec75a;
}

.green-back{
        background: #1ec75a;
}



.home-group-menu{
    
    /*border-bottom: 1px solid gray;*/
    text-align: left;
    font-size: 18px;
    padding:15px 20px;
    margin:0px;
    min-height:47px; 

    text-transform: uppercase;
        letter-spacing: 0.5px;
        font-family: 'Open Sans';
    font-weight: 700;
}

.home-group-menu-tab{
    text-align: left;
    font-size: 12px;
    padding:15px 20px;
    margin:0px;
    min-height:47px; 

    text-transform: uppercase;
        letter-spacing: 0.5px;
        font-family: 'Open Sans';
    font-weight: 700;
}

.hg-list-border
{
    border:0px;
    border-top:1px solid #E5E5E5;
    border-radius: 0px !important;
}
.list-group-item img
{
}
.list-group-item .main-title
{
    margin-left:65px;
    margin-top:6px !important;
    font-weight: bold;
    font-size: 13px;

    /*background:red;*/
    
}

.list-group-item .sub-title
{
    margin-left:15px;
    font-size: 11px;
    color:rgba(0, 0, 0, 0.5);
   /*background:red;*/
    /*font-style: italic;*/
    font-weight: bold;
}

.list-group-item .tab-main-title
{
  
    margin-top:2px !important;
    font-weight: bold;
    font-size: 13px;
    text-transform: capitalize;

    /*background:red;*/
    
}

.padding-inside-minimal-first
{
    padding-left:15px; 
}

.padding-inside-minimal
{
    padding-left:0px; 
}


.list-group .list-group-item
{
    font-size: 13px;
}


td,th{
    min-width: 150px;
    padding: 20px;
}


.horoscope-container{
    padding-top:10px;
    padding-bottom: 10px;
    align-content: center;
    text-align: center;
}
.horoscopeImage{
    display: block;
    margin:auto;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-bottom: 15px;
}
/*
horoscopeImage:hover{
    color: white;
}*/

.horoscopeImage a{
    text-decoration: none;
    color: white;
}

.footer-content{
    text-align: center;
    margin-left: 0px;
}
.footer-headline{
    border-bottom: 1px solid white;
    color: white;
    font-family: "Open Sans";
    font-size: 15px;
    padding-bottom: 5px;
}
.footer-content ul>li{
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
}

.horoscope-outer-container{
    margin-top:0px;
    /*border-right: 1px solid lightgray !important;*/
    /*padding-left: 10px;
    padding-right: 10px;*/
    /*padding-right: auto !important;*/
}


.horoscope-container span{
    display: block;
    font-size: 11px;
    text-transform: capitalize;
}

.submenu-container{
    padding-bottom: 20px;
}
/****************Megadropdown Override**********************/
.dropdown-header
{
    color: darkred;
    border-bottom: 2px solid #000;
}

.megamenu> li ul > li > a:hover, .megamenu> li ul > li > a:focus {
    text-decoration: none;
    color: red;
    background-color: #f5f5f5;
}


.form-control-feedback .glyphicon .glyphicon-search .search-icon-button{
    cursor: pointer;
}

.search-icon-button:hover{
    cursor: pointer;
}


.carousel-inner>.item active> image{
    width: 100%;

}

.carousel-caption{
    color: black;
    text-align: right !important;
    padding-right:20px !important;
}

.section-image-div{
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
.img-responsive{
    margin: 0 auto;
}

.overflow-div{
    overflow-y: hidden;
    height: 217px;
    margin:0;
    padding: 0;
    width: 100%;
}

/*----------------------------------Style for Accessibility-----------------------*/

.radio-button-span{
    margin-left: 100px;
}

  /*----------------------------Bootstrap Override-------------------------------*/
  
#myCarousel
{
    /*border:1px solid #dddddd;*/
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(226,230,235,1);
    -moz-box-shadow: 0px 0px 6px 3px rgba(226,230,235,1);
    box-shadow: 0px 0px 6px 3px rgba(226,230,235,1);
}


#myCarousel .carousel-inner
{
    border-radius: 5px !important;
  overflow:hidden !important;
}

.carousel-caption {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    right: 0;
    left:auto ;
    bottom: 0;
    top: auto;
    color: white;    
    max-width: 100%;
    width:100%;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    align-content: center;
    padding: 0px;
    font-family: 'Open Sans';   
}
.carousel .carousel-control
{
    background: none;
}

.carousel-caption> p{
    margin: 0px;
    font-style: italic;
    margin-top:3px;
    font-size:12px;
}

.carousel-caption> h3{
padding: 0px;
margin: 0px !important;
text-shadow: 0px -1px 6px #000000;
}

.carousel-indicators{
    bottom: 0;
    top:auto;
    left: 5%;
}

.container-fluid
{
 margin:0px !important;
    padding:0px !important;
}

.navbar-header
{
    margin:0px !important;
    padding:0px !important;
    min-width: 270px;
}

.navbar-header p
{
    margin-top:7px !important;
}
.logo-heading
{
    padding-top:10px !important;
    display: inline-block;
    font-weight: bold !important;
    font-size:18px;
}

.logo-sub-heading
{
    font-weight: normal !important;
    margin-top:5px !important;
    font-size:12px;
    display:block;
    height:10px !important;
    text-transform: uppercase;
}

.navbar-brand
{
    margin:7px 0px 5px 20px !important;
    padding:0px;
}

.navbar-brand img
{
    padding:5px;
    margin-top:0px;
    border-radius: 50%;
    background:white;
    width:70px;
     margin-right:20px !important;
     float:left;
}


  .navbar-default {
    background-color: #002C58;
    border-color:#002C58;
    background-color: #002C58 !important;
    height:85px;
    border:0px;
  }

  .navbar {
    border-radius: 0px;
    margin-bottom: 5px;
}

.container-fluid {
    padding:2rem 1rem;
}

.row{
    padding:0.1rem 0.5rem;
    
    margin-top: 2px;
}

.panel-danger > .panel-heading{
    background-color: #002C58;
    color: white;
}

.carousel {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.navbar-default .navbar-nav
{
    margin-top:17px;
    padding-right:20px;
}

.navbar-default .navbar-nav > li > a{
    font-size: 13px;
    font-weight: bold;
    color: white;
    width:auto !important;

}
.navbar-default .caret
{
    margin:0px;
}

.navbar-default .navbar-nav > li > a:hover{
    
    color: white;
    /*border-bottom-color: white;*/
}

.navbar-default .navbar-nav > li > a:focus{
    color:white;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:white;
    background-color: #1b5693;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:active {
    color:white;
    background-color: #1b5693;
}

.nav .navbar .nav.pull-right {
     float: right;
    margin-right: 98px; 
  }

  .dropdown-menu{
      min-width: 300px;
  }

  .col.col-md-4{
      padding: 0px;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 0px;
  }
/*.col:first-child{
    padding-left: 10px;
}

.col:last-child{
    padding-right: 10px;
}*/

.section-image-div{
    align-items: center;
    text-align: center;
    vertical-align: middle;
}


.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    
    color: black;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: black;
    background-color: lightblue;
    /*border-width: 0px;
    border-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: darkred;*/
}

.list-group .read-more-link{
    text-align: right;
    padding-right: 10px;
    color: blue;
    padding-top:1px;
    padding-bottom: 1px; 
}

.list-group .read-more-link:hover{
    color: red;
    text-decoration: underline;
}







/********************Media Query**********************/

@media only screen and (max-width: 766px) {


.sliderImage{
    min-height: 50px;
    max-height: 300px;
    min-width: auto;
}    


.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
    background-color: goldenrod;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:link,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:visited
 {
    color: lightblue;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:active
 {
    color: lightblue;
}


.navbar-default .navbar-nav .open .dropdown-menu.megamenu> li > ul > li > a:link,
.navbar-default .navbar-nav .open .dropdown-menu.megamenu> li > ul > li > a:visited
 {
    color: lightblue;
}

.navbar-default .navbar-nav .open .dropdown-menu.megamenu> li > ul > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu.megamenu> li > ul > li > a:active
 {
    color: lightblue;
    background-color: goldenrod;
}

      /*.dropdown-menu>li>a {
          color: white;
        background-color: red;
  }*/
}


/***********Media Query*************/

@media only screen and (max-width: 1005px) {

    .navbar-default{
        height: auto;
        min-height: 85px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}


@media only screen and (max-width: 766px) {

    .section-image-div{
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
.img-responsive{
    margin: 0 auto;
}

.padding-inside-minimal
{
    padding-left:15px; 
}

}

@media only screen and (max-width: 480px) {

    .section-image-div{
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
.img-responsive{
    margin: 0 auto;
}

}






/**************************************** home Page styleings ********************/

.more-home
{
    color:white;
    font-size:14px;
    border-radius: 50%;
    padding:5px 3px 4px 6px;
    width:25px;
    height:25px;
}


.more-link{
    font-size: 10px;
    float: right;
    text-transform: uppercase;
    margin-top:-5px;
}


.e-gov-title {
	font-size:14px;
	padding-left:5px;
	font-weight:normal;
	padding-bottom:0px;
}


/******* service *******/

.service-h1 {
	color:#1C436C; word-spacing:2px; font-weight:normal; font-size:18px; padding-top:10px !important;
}

.service-h4 {
	color:#1C436C; word-spacing:2px; font-weight:normal; font-size:14px; padding-top:10px !important;
}

.service-form-div {
	float:left; text-align:center; width:100%; margin-bottom:50px;
}

.service-img {
	width:168px;
}
